html {
  scroll-behavior: smooth;
}

HTML,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  border: 0;
}

main {
  margin-bottom: 0;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

nav li a {
  font-size: 1.2rem;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

#logo-container {
  font-size: 1.8rem;
}

#mobile-profile-pic {
  margin-top: 1rem;
  width: 20%;
  margin: 0 auto;
  margin-top: 2rem;
}

#mobile-profile-pic > img {
  margin-top: 1rem;
}

#highlight {
  height: 100vh;
  width: 100vw;
  padding-top: 1rem;
  margin-bottom: 0;
}

#highlight-description {
  width: 100vw;
  margin: auto;
}

#highlight div:nth-of-type(2){
  padding: 0;
}


img.responsive-img, video.responsive-video {
  max-width: 30%;
  height: auto;
}

.banner_title {
  margin-top: 0;
}

.banner-greet {
  margin: 0;
}

.banner-detail {
  margin-top: 1rem;
}

.banner-summary {
  width: 90%;
  padding-top: 2vh;
  margin: auto;
}

.banner-summary p {
  line-height: 1.8;
}

#skills{
  width: 90%;
  margin: auto;
}

#skills img {
  width: 100%;
  height: auto;
}

.cover_pic {
  height: 100%;
  overflow: hidden;
}

.cover_pic img {
  object-fit: cover;
  position: relative;
  left: -25%;
  width: 125%;
  height: 100vh;
}

#about-me {
  margin: 0;
  padding: 0, 2rem, 2rem;
}

#about-me div:first-child img{
  padding: 0;
}

#about-me div:nth-child(2) h4 {
  font-size: 1.5rem;
}

#thumbnail-pic {
  padding: 0;
}

#thumbnail-pic img {
  width: 100%;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }

  #highlight {
    height: 100vh;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

#portfolio {
  margin: 0;
  background-color: rgb(228, 228, 228);
}

#portfolio h3 {
  margin: 0;
  padding-top: 4vh;
  padding-bottom: 2vh;
}

footer.page-footer {
  margin: 0;
}
